<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <title>Home | List</title>
</head>
<body>
<h1>Home</h1>
<p>Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph
    Paragraph Paragraph Paragraph Paragraph </p>
<img th:src="@{/gifs/compiler-bot.gif}" height="100" alt="gif"/>
<img src="https://placehold.it/100x100" alt="logo image"/>
</body>
</html>